@include for-phone-only {
	.wrapper {
		max-width: 100%;
	}
	.header__center {
		width: 44.5%;
	}
}
@include for-tablet-portrait-up {
	html,body {
		font-size: 14px;
	}
	.wrapper {
		max-width: 100%;
	}
	.container {
		width: 640px;
		margin: 0 auto;
	}
	.header {
		height: 80px;
		line-height: 80px;
		padding: 0 19px;
		.container {			
			width: 100%;
		}
	}
	.header__center {
		width: 43.5%;
		line-height: 80px;
	}
	.categories__item {
		height: 120px;
	}
	.categories__link {
		padding: 30px;
	}
	.promo__inner {
		height: 220px;
	}	
	.section__stats-icon {
		width: 18px;
	}
	.section__list {
		margin-left: -20px;
		&_carusel {
			margin-left: 0;
		}
	}
	.section__item {
		width: calc(100%/3 - 20px);
		height: 300px;
		margin-left: 20px;
		margin-bottom: 20px;
		&_carusel {
			width: 200px;
			height: auto;
			.section__item-img {
				height: 200px;
				margin-bottom: 15px;
		   }		  
		}
	}
	.section__item-img {
		height: 174px;
	}
	.cake__form-tag {
		max-width: 480px;
		margin: 0 auto;
	}
	.cake__input_submit {
		padding: 20px 0;
	}
	.cake__table {
		max-width: 640px;
		margin: 0 auto 30px;
	}
	.cake__tcell {
		padding: 25px 19px;
	}
	.comments__input {
		padding: 20px;
	}
}