// Icons from directory ""
%ic {
	background-repeat: no-repeat
}
.ic-bag,
.ic-bag\:regular {
	@extend %ic;
	background-image: url('../assets/img/icons/icons.svg');
	background-position: 0 0;
}
.ic-bag-dims {
	width: 22px;
	height: 22px;
}
.ic-bakery,
.ic-bakery\:regular {
	@extend %ic;
	background-image: url('../assets/img/icons/icons.svg');
	background-position: 0 -22px;
}
.ic-bakery-dims {
	width: 22px;
	height: 22px;
}
.ic-cake,
.ic-cake\:regular {
	@extend %ic;
	background-image: url('../assets/img/icons/icons.svg');
	background-position: 0 -44px;
}
.ic-cake-dims {
	width: 22px;
	height: 22px;
}
.ic-cart,
.ic-cart\:regular {
	@extend %ic;
	background-image: url('../assets/img/icons/icons.svg');
	background-position: 0 -66px;
}
.ic-cart-dims {
	width: 22px;
	height: 22px;
}
.ic-cheesecake,
.ic-cheesecake\:regular {
	@extend %ic;
	background-image: url('../assets/img/icons/icons.svg');
	background-position: 0 -88px;
}
.ic-cheesecake-dims {
	width: 22px;
	height: 22px;
}
.ic-cookie,
.ic-cookie\:regular {
	@extend %ic;
	background-image: url('../assets/img/icons/icons.svg');
	background-position: 0 -110px;
}
.ic-cookie-dims {
	width: 22px;
	height: 22px;
}
.ic-cupcake,
.ic-cupcake\:regular {
	@extend %ic;
	background-image: url('../assets/img/icons/icons.svg');
	background-position: 0 -132px;
}
.ic-cupcake-dims {
	width: 22px;
	height: 22px;
}
.ic-eclair,
.ic-eclair\:regular {
	@extend %ic;
	background-image: url('../assets/img/icons/icons.svg');
	background-position: 0 -154px;
}
.ic-eclair-dims {
	width: 22px;
	height: 22px;
}
.ic-fav,
.ic-fav\:regular {
	@extend %ic;
	background-image: url('../assets/img/icons/icons.svg');
	background-position: 0 -176px;
}
.ic-fav-dims {
	width: 22px;
	height: 22px;
}
.ic-full-like,
.ic-full-like\:regular {
	@extend %ic;
	background-image: url('../assets/img/icons/icons.svg');
	background-position: 0 -198px;
}
.ic-full-like-dims {
	width: 32px;
	height: 32px;
}
.ic-home,
.ic-home\:regular {
	@extend %ic;
	background-image: url('../assets/img/icons/icons.svg');
	background-position: 0 -230px;
}
.ic-home-dims {
	width: 22px;
	height: 22px;
}
.ic-like,
.ic-like\:regular {
	@extend %ic;
	background-image: url('../assets/img/icons/icons.svg');
	background-position: 0 -252px;
}
.ic-like-dims {
	width: 32px;
	height: 32px;
}
.ic-macaroon,
.ic-macaroon\:regular {
	@extend %ic;
	background-image: url('../assets/img/icons/icons.svg');
	background-position: 0 -284px;
}
.ic-macaroon-dims {
	width: 22px;
	height: 22px;
}
.ic-menu,
.ic-menu\:regular {
	@extend %ic;
	background-image: url('../assets/img/icons/icons.svg');
	background-position: 0 -306px;
}
.ic-menu-dims {
	width: 22px;
	height: 22px;
}
.ic-more,
.ic-more\:regular {
	@extend %ic;
	background-image: url('../assets/img/icons/icons.svg');
	background-position: 0 -328px;
}
.ic-more-dims {
	width: 22px;
	height: 22px;
}
.ic-no_liked,
.ic-no_liked\:regular {
	@extend %ic;
	background-image: url('../assets/img/icons/icons.svg');
	background-position: 0 -350px;
}
.ic-no_liked-dims {
	width: 32px;
	height: 32px;
}
.ic-pie,
.ic-pie\:regular {
	@extend %ic;
	background-image: url('../assets/img/icons/icons.svg');
	background-position: 0 -382px;
}
.ic-pie-dims {
	width: 22px;
	height: 22px;
}
.ic-profile,
.ic-profile\:regular {
	@extend %ic;
	background-image: url('../assets/img/icons/icons.svg');
	background-position: 0 -404px;
}
.ic-profile-dims {
	width: 22px;
	height: 22px;
}
.ic-sale,
.ic-sale\:regular {
	@extend %ic;
	background-image: url('../assets/img/icons/icons.svg');
	background-position: 0 -426px;
}
.ic-sale-dims {
	width: 22px;
	height: 22px;
}
.ic-search,
.ic-search\:regular {
	@extend %ic;
	background-image: url('../assets/img/icons/icons.svg');
	background-position: 0 -448px;
}
.ic-search-dims {
	width: 22px;
	height: 22px;
}
.ic-section_arrow,
.ic-section_arrow\:regular {
	@extend %ic;
	background-image: url('../assets/img/icons/icons.svg');
	background-position: 0 -470px;
}
.ic-section_arrow-dims {
	width: 32px;
	height: 32px;
}