/* Icons from directory "" */
.ic-bag,.ic-bag\:regular{background-image:url('../assets/img/icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.ic-bag-dims{width:22px;height:22px}
.ic-bakery,.ic-bakery\:regular{background-image:url('../assets/img/icons/icons.svg');background-position:0 -22px;background-repeat:no-repeat}
.ic-bakery-dims{width:22px;height:22px}
.ic-cake,.ic-cake\:regular{background-image:url('../assets/img/icons/icons.svg');background-position:0 -44px;background-repeat:no-repeat}
.ic-cake-dims{width:22px;height:22px}
.ic-cart,.ic-cart\:regular{background-image:url('../assets/img/icons/icons.svg');background-position:0 -66px;background-repeat:no-repeat}
.ic-cart-dims{width:22px;height:22px}
.ic-cheesecake,.ic-cheesecake\:regular{background-image:url('../assets/img/icons/icons.svg');background-position:0 -88px;background-repeat:no-repeat}
.ic-cheesecake-dims{width:22px;height:22px}
.ic-comp,.ic-comp\:regular{background-image:url('../assets/img/icons/icons.svg');background-position:0 -110px;background-repeat:no-repeat}
.ic-comp-dims{width:22px;height:22px}
.ic-cookie,.ic-cookie\:regular{background-image:url('../assets/img/icons/icons.svg');background-position:0 -132px;background-repeat:no-repeat}
.ic-cookie-dims{width:22px;height:22px}
.ic-cupcake,.ic-cupcake\:regular{background-image:url('../assets/img/icons/icons.svg');background-position:0 -154px;background-repeat:no-repeat}
.ic-cupcake-dims{width:22px;height:22px}
.ic-eclair,.ic-eclair\:regular{background-image:url('../assets/img/icons/icons.svg');background-position:0 -176px;background-repeat:no-repeat}
.ic-eclair-dims{width:22px;height:22px}
.ic-fav,.ic-fav\:regular{background-image:url('../assets/img/icons/icons.svg');background-position:0 -198px;background-repeat:no-repeat}
.ic-fav-dims{width:22px;height:22px}
.ic-home,.ic-home\:regular{background-image:url('../assets/img/icons/icons.svg');background-position:0 -220px;background-repeat:no-repeat}
.ic-home-dims{width:22px;height:22px}
.ic-macaroon,.ic-macaroon\:regular{background-image:url('../assets/img/icons/icons.svg');background-position:0 -242px;background-repeat:no-repeat}
.ic-macaroon-dims{width:22px;height:22px}
.ic-mail,.ic-mail\:regular{background-image:url('../assets/img/icons/icons.svg');background-position:0 -264px;background-repeat:no-repeat}
.ic-mail-dims{width:22px;height:22px}
.ic-map_point,.ic-map_point\:regular{background-image:url('../assets/img/icons/icons.svg');background-position:0 -286px;background-repeat:no-repeat}
.ic-map_point-dims{width:22px;height:22px}
.ic-menu,.ic-menu\:regular{background-image:url('../assets/img/icons/icons.svg');background-position:0 -308px;background-repeat:no-repeat}
.ic-menu-dims{width:22px;height:22px}
.ic-more,.ic-more\:regular{background-image:url('../assets/img/icons/icons.svg');background-position:0 -330px;background-repeat:no-repeat}
.ic-more-dims{width:22px;height:22px}
.ic-nut-val,.ic-nut-val\:regular{background-image:url('../assets/img/icons/icons.svg');background-position:0 -352px;background-repeat:no-repeat}
.ic-nut-val-dims{width:22px;height:22px}
.ic-pass,.ic-pass\:regular{background-image:url('../assets/img/icons/icons.svg');background-position:0 -374px;background-repeat:no-repeat}
.ic-pass-dims{width:22px;height:22px}
.ic-phone,.ic-phone\:regular{background-image:url('../assets/img/icons/icons.svg');background-position:0 -396px;background-repeat:no-repeat}
.ic-phone-dims{width:22px;height:22px}
.ic-pie,.ic-pie\:regular{background-image:url('../assets/img/icons/icons.svg');background-position:0 -418px;background-repeat:no-repeat}
.ic-pie-dims{width:22px;height:22px}
.ic-present,.ic-present\:regular{background-image:url('../assets/img/icons/icons.svg');background-position:0 -440px;background-repeat:no-repeat}
.ic-present-dims{width:22px;height:22px}
.ic-profile,.ic-profile\:regular{background-image:url('../assets/img/icons/icons.svg');background-position:0 -462px;background-repeat:no-repeat}
.ic-profile-dims{width:22px;height:22px}
.ic-sale,.ic-sale\:regular{background-image:url('../assets/img/icons/icons.svg');background-position:0 -484px;background-repeat:no-repeat}
.ic-sale-dims{width:22px;height:22px}
.ic-search,.ic-search\:regular{background-image:url('../assets/img/icons/icons.svg');background-position:0 -506px;background-repeat:no-repeat}
.ic-search-dims{width:22px;height:22px}