.modal {	
	background-color: rgba(0,0,0,.5);
	position: absolute;	
	z-index: 1000;
	opacity: 0;
	top: 100%;
	transition: opacity .4s ease-in-out;
	&_active {
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		opacity: 1;
	}
}
.modal__inner {
	display: block;	
	width: 80%;
	background-color: #fff;
	padding: 35px 10px 10px;
	border: 2px solid #E5E5E5;
	position: absolute;
	top: -9999999px;
	left: -9999999px;
	transform: translate(-50%, -50%) scale(0);
	text-align: center;
	font-size: 0;	
	transition: transform .4s ease-in-out;
	&_active {		
		transform: translate(-50%, -50%) scale(1);
		top: 50%;
		left: 50%;
	}
	&_message {
		 padding: 35px 10px;
	}
}
.modal__title {
	@include font ('source_sans_prosemibold', (20/11)+rem, normal, 20px);
	color: $black;
	margin-bottom: 15px;
}
.modal__text-block {
	color: $gray;
	margin-bottom: 15px;
	font-size: (14/11)+rem;
}
.modal__btn {
	@include inline-block(middle);
	@extend .order__input;
	@extend .order__input_submit;
	cursor: pointer;	
	margin-left: 0;	
	&_2 {
		width: calc(50% - 10px);
		margin-left: 10px;
		&:first-child {
			margin-left: 0;
		}
	}
	&_white {
		@extend .order__input_transparent;
	}
}
.modal__close_box {
	position: absolute;
	right: 10px;
	top: 6%;
	width: 24px;
	height: 24px;
	text-align: center;
}
.modal__close_icon {	
	@extend .reg-form__element_close;
	top: inherit;
	right: inherit;
	@include inline-block(middle);
}
.modal__icon {
	@include inline-block(middle);
	cursor: pointer;
}