.orders_stocks {
	.orders__link {
		padding-top: 0;
	}
	.orders__item-elem {
		width: 65%;
		padding-top: 15px;
		&_pic {
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			width: 35%;
			height: 106px;
			padding-top: 0;
		}	
	}
}
.orders__list {
	margin-bottom: 19px;	
}
.orders__item {
	font-size: 1rem;
	background-color: #F8F8F8;	
	margin-bottom: 10px;
	border: 1px solid #E5E5E5;
	position: relative;
	max-height: 108px;
}
.orders__link {
	display: block;
	text-decoration: none;
	color: inherit;
	height: 100%;
	padding-top: 20px;
	font-size: 0;
}
.orders__item-row {
	padding: 0 10px;
	margin-bottom: 20px;
	font-size: 0;
	color: $black;
}
.orders__item-text {
	font-size: (14/11)+rem;
}
.orders__item-elem {
	@include inline-block(top);
	width: 50%;
	text-align: left;
	.profile__form-link {
		text-align: right;
	}		
}
.orders__date {
	@include font('source_sans_prosemibold', (14/11)+rem, normal, 20px);
	color: $black;
}
.orders__bakery {
	font-size: 1rem;
	color: $gray;
	margin-bottom: 5px;
}
.orders__city {
	color: $black;
	&_separator::after {
		content: ' | ';
		color: $black;
	}
}
.orders__icon {
	display: inline-block;
	width: 22px;
	height: 22px;
	background:transparent url('../assets/img/icons/more-gray.svg') center no-repeat;
	background-size: cover;
	position: absolute;
	right: 10px;
	bottom: 0;
	&_like {
		background: none;
		width: auto;
		bottom: 5px;
	}
}
.orders__item-img {
	display: none;
}
