.search {
	width: 100%;
	left: 100%;
	overflow-y: scroll;
    height: 100vh;
    max-height: 100vh;	
}
.search__header {
	height: 60px;
	background-color: $bgBtnSearch;
	padding: 10px 0;
	border-bottom: 	1px solid #E5E5E5;
}
.search__input-search {
	outline: none;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #E5E5E5;
	font-size: 14px;
	color: 	$gray;
	background:#FFF url('../assets/img/icons/search-15.svg') 10px center no-repeat;
	padding-left: 37px;
	width: 	80%;
}
.search__cancel-btn {
	@include inline-block(middle)
	color: $gray;
	margin-left: 10px;
	line-height: 14px;
}
.search__item {
	height: 40px;
	border-bottom: 	1px solid #E5E5E5;
	background-color: #fff;
	color: $gray;
	font-size: 14px;
	padding-left: 19px;
	line-height: 40px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	&_category {
		@include font('bebas_neuebold', 17px, normal, 40px);
		background-color: #F8F8F8;
		text-transform: uppercase;
	}
}
.search__item-link {
	color: inherit;
	display: block;
	text-decoration: none;
}