.tabs__link-list {
	width: 100%;
	font-size: 0;
	margin-bottom: 19px;
}
.tabs__link-item {
	@include inline-block (middle);
	cursor: pointer;
	width: (100/3)+%;
	max-height: 40px;
	padding: 10px 0;
	color: $gray;;
	border: 1px solid #E2E2E2;
	border-left: none;
	font-size: (14/11)+rem;
	text-align: center;
	transition: .3s;
	&:last-child {
		border-right: none;
	}
	&_active {
		border-bottom: 3px solid $btnBg;				
	}
	&_2 {
		width: 50%;
	}
	&_1 {
		width: 100%;
	}
}
.tabs__count {
	@extend .bakery__rating-count;
	color: inherit;
	margin-left: 3px;
}
.tabs__body-item {
	display: none;
	&_active {
		display: block;
	}
}