//VARIABLES

//----------- BG ------------//
$bgHeader:#F2D1D0;
$bgBtnSearch: #D7E8F2;
$bgBtnOpen:#F6E3C8;
$bgMenu:#FAEFE2;

//--------- BTNS ------------//
$btnBg:#E06B6E;
$btnColor: #50150B;

//--------- Text -----------//
$black: #221F1F;
$gray: #858585;

//LAYOUT IMPORT

@import 'layout/mixins';
@import 'layout/adjusments';
@import 'layout/fonts';
@import 'layout/icons';
@import 'layout/pickmeup';

//SECTION IMPORT

@import 'sections/header';
@import 'sections/categories';
@import 'sections/promo';
@import 'sections/main-sections';
@import 'sections/side-menu';
@import 'sections/side-search';
@import 'sections/single-item';
@import 'sections/registation';
@import 'sections/comments';
@import 'sections/cart';
@import 'sections/info-block';
@import 'sections/order';
@import 'sections/cart-form';
@import 'sections/slider.scss';
@import 'sections/bakery.scss';
@import 'sections/tabs.scss';
@import 'sections/profile';
@import 'sections/orders';
@import 'sections/order-repeat';